/*Custom colors*/

[data-md-color-scheme="gofoss"] {
  --md-primary-fg-color:        #120458;
  --md-primary-fg-color--light: #2107a1;
  --md-primary-fg-color--dark:  #120458;
}


/*Fonts*/

@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: Roboto-Light;
  src: url(Roboto-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: Roboto-Mono;
  src: url(Roboto-Mono.ttf);
  font-display: swap;
}

/*Titles, Paragraphs, Links & Lists (mobile)*/

.md-typeset h1 {
    font-size: 1.75em;
    margin: 0 0 1em 0;
    color: var(--md-primary-fg-color);
    font-family: Roboto-Light, -apple-system, Helvetica, Arial, sans-serif;
}


.md-typeset h2 {
    font-size: 1.5em;
    line-height: 1.2;
    margin: 2em 0 1em 0;
    font-family: Roboto-Light, -apple-system, Helvetica, Arial, sans-serif;
}

.md-typeset h3 {
    font-size: 1.2em;
    line-height: 1.2;
    font-weight: 300;
    font-family: Roboto-Light, -apple-system, Helvetica, Arial, sans-serif;
}

.md-typeset {
    font-size: 0.8rem;
    font-family: Roboto, -apple-system, Helvetica, Arial, sans-serif;
}

.md-typeset p {
    margin: 1.5em 0 1.5em 0;
}

.md-typeset a {.md-typeset h3 {
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: 300;
    font-family: Roboto-Light, -apple-system, Helvetica, Arial, sans-serif;
}

.md-typeset {
    font-size: 0.9rem;
    font-family: Roboto, -apple-system, Helvetica, Arial, sans-serif;
}
    color: var(--md-primary-fg-color--light);
}

.md-typeset ul li:last-child {
    margin-bottom: .5em;
}

pre, code, kbd {
  font-family: Roboto-Mono, SFMono-Regular, Consolas, Menlo, monospace;
  font-size: 1em;
}


/*Titles, Paragraphs, Links & Lists (desktop)*/
@media screen and (min-width:60em) {

.md-typeset h1 {
    font-size: 2.3em;
}

.md-typeset h2 {
    font-size: 2em;
}

.md-typeset h3 {
    font-size: 1.5em;
}

.md-typeset {
    font-size: 0.9rem;
}

}



/*Width*/

.md-content {
    max-width:720px;
    margin: auto;
}


/*Table headers*/

th {
  color: var(--md-default-bg-color);
  background-color: var(--md-default-fg-color--light);
}


/*Admonitions*/

:root {
  --md-admonition-icon--info: url('info.svg')
}
.md-typeset .admonition.info,
.md-typeset details.info {
  border-color: rgb(255, 0, 160);
}
.md-typeset .info > .admonition-title,
.md-typeset .info > summary {
  background-color: rgba(255, 0, 162, 0.05);
  border-color: rgb(255, 0, 160);
}
.md-typeset .info > .admonition-title::before,
.md-typeset .info > summary::before {
  background-color: rgb(255, 0, 160);
  -webkit-mask-image: var(--md-admonition-icon--info);
          mask-image: var(--md-admonition-icon--info);
}


:root {
  --md-admonition-icon--tip: url('tip.svg')
}
.md-typeset .admonition.tip,
.md-typeset details.tip {
  border-color: rgb(0,22,238);
}
.md-typeset .tip > .admonition-title,
.md-typeset .tip > summary {
  background-color: rgba(0,22,238, 0.05);
  border-color: rgb(0,22,238);
}
.md-typeset .tip > .admonition-title::before,
.md-typeset .tip > summary::before {
  background-color: rgb(0,22,238);
  -webkit-mask-image: var(--md-admonition-icon--tip);
          mask-image: var(--md-admonition-icon--tip);
}
[data-md-color-scheme="slate"] .md-typeset .tip > summary::before {
  background-color: var(--md-primary-bg-color);
  -webkit-mask-image: var(--md-admonition-icon--tip);
          mask-image: var(--md-admonition-icon--tip);
}


:root {
  --md-admonition-icon--question: url('question.svg')
}
.md-typeset .admonition.question,
.md-typeset details.question {
  border-color: rgb(26, 254, 73);
}
.md-typeset .question > .admonition-title,
.md-typeset .question > summary {
  background-color: rgba(26, 254, 73, 0.1);
  border-color: rgb(26, 254, 73);
}
.md-typeset .question > .admonition-title::before,
.md-typeset .question > summary::before {
  background-color: rgb(26, 254, 73);
  -webkit-mask-image: var(--md-admonition-icon--question);
          mask-image: var(--md-admonition-icon--question);
}


:root {
  --md-admonition-icon--warning: url('warning.svg')
}
.md-typeset .admonition.warning,
.md-typeset details.warning {
  border-color: rgb(255, 18, 79);
}
.md-typeset .warning > .admonition-title,
.md-typeset .warning > summary {
  background-color: rgba(255, 18, 79, 0.1);
  border-color: rgb(255, 18, 79);
}
.md-typeset .warning > .admonition-title::before,
.md-typeset .warning > summary::before {
  background-color: rgb(255, 18, 79);
  -webkit-mask-image: var(--md-admonition-icon--warning);
          mask-image: var(--md-admonition-icon--warning);
}


:root {
  --md-admonition-icon--level: url('tip.svg')
}
.md-typeset .admonition.level,
.md-typeset details.level {
  border-color: rgb(18, 4, 88, 0.1);
}
.md-typeset .level > .admonition-title,
.md-typeset .level > summary {
  background-color: rgba(18, 4, 88, 0.05);
  border-color: rgb(18, 4, 88, 0.05);
  font-weight: 300;
}
.md-typeset .level > .admonition-title::before,
.md-typeset .level > summary::before {
  background-color: rgb(18, 4, 88, 0.3);
  -webkit-mask-image: var(--md-admonition-icon--level);
          mask-image: var(--md-admonition-icon--level);
}
[data-md-color-scheme="slate"] .md-typeset .level > .admonition-title::before {
  background-color: var(--md-primary-bg-color);
  -webkit-mask-image: var(--md-admonition-icon--level);
          mask-image: var(--md-admonition-icon--level);
}

